<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LevelTitle</key>
		<string>简明精神状态检查（MMSE)</string>
	</dict>
	<dict>
		<key>QID</key>
		<string>M1</string>
		<key>QuestionSection</key>
		<string>年份</string>
		<key>QuestionTitle</key>
		<string>现在是哪一年？</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionHelpUrl</key>
		<string>help_M1.html</string>
		<key>QuestionType</key>
		<string></string>
		<key>QuestionAnswer</key>
		<string></string>
		<key>QuestionSteps</key>
		<array/>
		<key>QuestionImageUrl</key>
		<string></string>
		<key>QuestionCounter</key>
		<true/>
		<key>QuestionCounterLimit</key>
		<integer>10</integer>
		<key>QuestionRank</key>
		<integer>1</integer>
		<key>GradingPolicy</key>
		<string></string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>现在是星期几？几号？几月？什么季节？哪一年？</string>
		<key>QuestionDesc</key>
		<string>向被测试者依次询问上述五项小问题。</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string>定向力</string>
		<key>QuestionRank</key>
		<integer>5</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>当前五项小问题，每答对一项可计一分。</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>我们现在在哪里：省？  市？  医院？ 科室?  第几层楼？</string>
		<key>QuestionDesc</key>
		<string>向被测试者依次询问上述五项小问题。</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string>定向力</string>
		<key>QuestionRank</key>
		<integer>5</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>当前五项小问题，每答对一项可计一分。</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>现在我要说三样东西的名称，在我讲完后，请您重复一遍。请您记住这三样东西，因为几分钟后要再问您的。 “皮球”、“国旗”、“树木”</string>
		<key>QuestionDesc</key>
		<string>告诉被测试者您将问几个问题来检查他的记忆力，然后清楚、缓慢的说出3个相互无关的东西的名称（大约1秒钟说1个），说完所有的3个名称后，要求被测试者重复它们。被测试者的得分取决于他们首次重复的答案。被测试者的得分取决于他们首次重复的答案。</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string>记忆力</string>
		<key>QuestionRank</key>
		<integer>3</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>以第一次答案记分，每答对一个可计1分，最多得3分</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>请您算一算100减去7，然后从所得数目再减去7，如此一直计算下去，请您将每减一个7后的答案告诉我，直到我说“停止”为止。 （93   86   79   72   65）</string>
		<key>QuestionDesc</key>
		<string>要求被测试者从100开始减7，之后再减7，一直减5次（即93，86，79，72，65）。</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string>注意力和计算力</string>
		<key>QuestionRank</key>
		<integer>5</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>每答对一个得1分，如果前次错了，但下一个答案是对的，也得1分</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>现在请您说出刚才我让您记住的那三样东西？“皮球” “ 国旗”  “树木”</string>
		<key>QuestionDesc</key>
		<string>如果前次被测试者完全记住了3个名称，现在就让他们再重复一遍。</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string>回忆能力</string>
		<key>QuestionRank</key>
		<integer>3</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>每正确重复一个得1分，最高3分。</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>（出示手表）这个东西叫什么？</string>
		<key>QuestionDesc</key>
		<string>拿出你的手表给测试者看，要求他们说出这是什么？</string>
		<key>QuestionImage</key>
		<string>Level_QMMSE_06.png</string>
		<key>QuestionSection</key>
		<string>语言能力--命名能力</string>
		<key>QuestionRank</key>
		<integer>1</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>每答对一项可计一分。</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>（出示钢笔）这个东西叫什么？</string>
		<key>QuestionDesc</key>
		<string>拿出你的钢笔给测试者看，要求他们说出这是什么？</string>
		<key>QuestionImage</key>
		<string>Level_QMMSE_07.png</string>
		<key>QuestionSection</key>
		<string>语言能力--命名能力</string>
		<key>QuestionRank</key>
		<integer>1</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>每答对一项可计一分。</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>现在我要说一句话，请您跟着我清楚的重复一遍。  “四十四只石狮子”</string>
		<key>QuestionDesc</key>
		<string>要求被测试者注意你说的话并重复一次，注意只允许重复一次。</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string>语言能力--复述能力</string>
		<key>QuestionRank</key>
		<integer>1</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>只有正确、咬字清楚的才记1分</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>我给您一张纸请您按我说的去做，现在开始：“用右手拿着这张纸，用两只手将它对折起来，放在您的大腿上”。</string>
		<key>QuestionDesc</key>
		<string>给被测试者一张空白平纸，要求对方按你的命令去做，注意不要重复或示范。动作内容是：右手拿纸 -&gt;两手对折-&gt;放在大腿上</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string>语言能力--三步命令</string>
		<key>QuestionRank</key>
		<integer>3</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>只有按正确顺序做的动作才算正确，每个正确动作记1分。</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>请您念一念这句话，并且按它的意思去做。</string>
		<key>QuestionDesc</key>
		<string>在一张白纸上印有一行字“闭上您的眼睛”。要求被测试者读它并按要求做。</string>
		<key>QuestionImage</key>
		<string>Level_QMMSE_10.png</string>
		<key>QuestionSection</key>
		<string>语言能力--阅读能力</string>
		<key>QuestionRank</key>
		<integer>1</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>只有他们确实闭上了眼睛才能得分。</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>您给我写一句完整的句子。</string>
		<key>QuestionDesc</key>
		<string>给测试者一张白纸，让他们自发的写出一个完整的句子。句子必须主语、谓语、宾语，并有意义。注意你不能给任何提示。</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string>语言能力--书写能力</string>
		<key>QuestionRank</key>
		<integer>1</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>符合要求则记1分</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>这是一张图，请您在同一张纸上照样画出来。</string>
		<key>QuestionDesc</key>
		<string>在一张白纸上画有交叉的两个五边形，要求被测试者照样准确的画出来。评分标准：五边形需画出5个清楚的角和5个边。同时，两个五边形交叉处形成四边形。线条的抖动和图形的旋转可以忽略。</string>
		<key>QuestionImage</key>
		<string>Level_QMMSE_12.png</string>
		<key>QuestionSection</key>
		<string>语言能力--复写能力</string>
		<key>QuestionRank</key>
		<integer>1</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>符合要求则记1分</string>
	</dict>
</array>
</plist>
