<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>GroupTitle</key>
		<string>(一)认知功能评估部分</string>
		<key>GroupScale</key>
		<array>
			<dict>
				<key>ScaleTitle</key>
				<string>简易精神状态检查(MMSE)</string>
				<key>ScaleFile</key>
				<string>ScaleLevel_MMSE.plist</string>
				<key>FilePath</key>
				<string>ScaleLevel_MMSE</string>
			</dict>
			<dict>
				<key>ScaleTitle</key>
				<string>MoCA测验</string>
				<key>ScaleFile</key>
				<string>ScaleLevel_MOCA.plist</string>
				<key>FilePath</key>
				<string>ScaleLevel_MOCA</string>
			</dict>
			<dict>
				<key>ScaleTitle</key>
				<string>成套神经心理测验</string>
				<key>ScaleFile</key>
				<string>ScaleLevel_NTB.plist</string>
				<key>FilePath</key>
				<string>ScaleLevel_NTB</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GroupTitle</key>
		<string>(二)情绪及情感评估部分</string>
		<key>GroupScale</key>
		<array>
			<dict>
				<key>ScaleTitle</key>
				<string>焦虑自评量表(SAS)</string>
				<key>ScaleFile</key>
				<string>ScaleLevel_SAS.plist</string>
				<key>FilePath</key>
				<string>ScaleLevel_SAS</string>
			</dict>
			<dict>
				<key>ScaleTitle</key>
				<string>老年抑郁量表(GDS)</string>
				<key>ScaleFile</key>
				<string>ScaleLevel_GDS.plist</string>
				<key>FilePath</key>
				<string>ScaleLevel_GDS</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GroupTitle</key>
		<string>(三)社会心理评估部分</string>
		<key>GroupScale</key>
		<array>
			<dict>
				<key>ScaleTitle</key>
				<string>生活事件量表(LES)</string>
				<key>ScaleFile</key>
				<string>ScaleLevel_LES.plist</string>
				<key>FilePath</key>
				<string>ScaleLevel_LES</string>
			</dict>
			<dict>
				<key>ScaleTitle</key>
				<string>社会支持评定量表</string>
				<key>ScaleFile</key>
				<string>ScaleLevel_SSRS.plist</string>
				<key>FilePath</key>
				<string>ScaleLevel_SSRS</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
