<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ScaleTitle</key>
	<string>量表名称</string>
	<key>ItemCount</key>
	<integer>0</integer>
	<key>HelpPath</key>
	<string>help</string>
	<key>ImagePath</key>
	<string>images</string>
	<key>Questions</key>
	<array>
		<dict>
			<key>QID</key>
			<string>M1</string>
			<key>QuestionSection</key>
			<string>年份</string>
			<key>QuestionTitle</key>
			<string>现在是哪一年？</string>
			<key>QuestionDesc</key>
			<string></string>
			<key>QuestionHelpUrl</key>
			<string>help_M1.html</string>
			<key>QuestionType</key>
			<string></string>
			<key>QuestionAnswer</key>
			<string></string>
			<key>QuestionScore</key>
			<integer>0</integer>
			<key>QuestionImageUrl</key>
			<string></string>
			<key>QuestionTimerCounter</key>
			<true/>
			<key>QuestionTimerLimit</key>
			<integer>10</integer>
			<key>QuestionRank</key>
			<integer>1</integer>
			<key>GradingPolicy</key>
			<string></string>
		</dict>
		<dict>
			<key>QID</key>
			<string>M2</string>
			<key>QuestionSection</key>
			<string>季节</string>
			<key>QuestionTitle</key>
			<string>现在是什么季节？</string>
			<key>QuestionDesc</key>
			<string></string>
			<key>QuestionHelpUrl</key>
			<string>help_M2.html</string>
			<key>QuestionType</key>
			<string></string>
			<key>QuestionAnswer</key>
			<string></string>
			<key>QuestionScore</key>
			<integer>0</integer>
			<key>QuestionImageUrl</key>
			<string></string>
			<key>QuestionTimerCounter</key>
			<true/>
			<key>QuestionTimerLimit</key>
			<integer>10</integer>
			<key>QuestionRank</key>
			<integer>1</integer>
			<key>GradingPolicy</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
